   
   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        /* height: 100vh; */
        color: white;
        font-family: 'Poppins', sans-serif;
        background-image: linear-gradient(#9d9def, #bbbbe5, #c4adc4);
        background-size: cover;

    }
   
    a{
        text-decoration: none;
        color: white;
    }

    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Poppins&display=swap');