* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: "Poppins", sans-serif;
}
/* body{
    background-image: url(./bg_image.png);
} */
.hero {
    height: 100vw;
    width: 100%;
    background-image: linear-gradient(pink, white, rgb(107, 13, 179));
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10%;
  background-color: white;
  border: pink 3px solid;
  /* box-shadow: 5px 10px plum; */
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  transition: 2s;
  transition: duration 2s;
}

nav ul li a {
  text-decoration: none;
  color: rgb(139, 39, 181);
}

nav ul li:hover {
  color: cadetblue;
  font-weight: 100;
}

.logo {
  color: rgb(214, 130, 227);
  font-size: 30px;
}

.logo span {
  color: rgb(194, 87, 187);
  font-size: 30px;
}

.logo span:hover {
  color: rgb(146, 31, 31);
  font-size: 30px;
}

